body {
  font-family: monospace;
  max-width: 640px;
  padding-left: 2%;
  padding-right: 3%;
  margin: 0 auto;
  background: #222;
  color: #eee;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f8f8f8;
}
img {
  max-width: 640px;
  max-height: 320px;
}
sup {
  color: yellow;
  font-weight: bold;
}
em,
code {
  color: black;
  background-color: white;
  text-wrap: auto;
}
pre {
  color: white;
  background-color: transparent;
}
a {
  color: white;
}
